// put your custom CSS here!
ul li::marker {
    content: '\2727  ';
    // color: blue;
    font-size: 1.25em;
  }

em {
  color: #ff82b2;
}

strong {
  color: #ff82b2;
}

h3 {
  color: #2e80f2;
}

h4 {
  color: #e5b567;
}

h5 {
  color: #e83e3e;
}